<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SHSDB" connectionString="Data Source=43.255.152.21;Integrated Security=False;User ID=SHSRead;Password=R0adrunner;Connect Timeout=15;Encrypt=False;Packet Size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>
</configuration>
